body,h1 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    cursor: pointer;
}
.bgimg {
    min-height: 100%;
    background: url('../assets/img/cover.jpg') center;
    background-size: cover;
}

.w3-jumbo, .w3-animate-top {
    margin-bottom: 0;
}

.w3-large, .w3-center{
    margin-top: 55px;
}
#logo {
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

